$grid-row-cell-selected-background-color: rgba(42,63,93,1);
$grid-row-cell-alt-background-color: rgba(250,250,250,1);
$grid-row-cell-selected-color: rgba(255,255,255,1);
$grid-row-cell-focus-color: rgba(255,255,255,1);
$grid-cell-selected-color: rgba(255,255,255,1);
$grid-column-header-color: rgba(102,102,102,1);